@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Croissant+One&display=swap');

:root {
    --firstColor: #000000;
    --secondColor: #14213d;
    --thirdColor: #9a031e;
    --fourthColor: #ffffff;

    --primaryFont: 'Black Ops One', cursive;
    --secondaryFont: 'Croissant One', cursive;

    --backgroundColor: #373b6a;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 220px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    /* justify-content: center; */
}


.menu {
    display: flex;
    list-style: none;
}

.menu a {
    display:block;
	color: rgb(0, 0, 0);
	padding: 50px;
    text-align: center;
}

header nav a:hover {
    color:var(--firstColor);
    font-weight: 700;
    text-decoration: underline;
}

header nav a {
    color:var(--secondColor);
    text-decoration: none;
    padding: 10px 5px;
}

.hero {

    margin-bottom: 15px;
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 570px;
    position: relative;
}

/* .hero > .title {
    background-color: rgb(76 173 146 / 80%);
    text-align: center;
    width: 100%;
    line-height: 5rem;
    margin-bottom: 2rem;
    position: absolute;
    top: 1rem;
} */


.hero > article {
    background-color: rgb(76 173 146 / 80%);
    width: 80%;
    padding: 2rem 1rem;
    margin-bottom: 6rem;
    position: relative;
    height: 270px;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
}

.hero > article > p {
    width: 50%;
    float: left;
}
.hero > article > img {
    float: right;
    width: 50%;
}

.section, h2{
    text-align: center;
}

/* .h2 {
    display: flex;
    font-size: 1.5em;
    margin-block-start: 2em;
    margin-block-end: 0.83em;
    justify-content: center;
    color: green;
} */

figure {
    text-align: center;
    margin: 0px;
    justify-self: center;
}



body {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    color: var(--backgroundColor);
    font-family: var(--primaryFont);
}

main img {
    width: 30rem;
    margin-bottom: 10px;
}

main p {
    color: var(--secondColor);
}



.hero > article > p {
    color: var(--firstColor);
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}


.container img{
    display: grid;
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    width: 215px;
}

.img1 {
    width: 85%;
    left: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    text-decoration: none;
}



form {
    width: 550px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .8rem;
    background-color: rgb(168, 188, 187);
    display: grid;
    color: rgb(50, 44, 44);
}

label, input, button, select, textarea {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    text-align: center;
    padding-right: 1rem;
}

input, select, textarea {
    font-size: .9rem;
}

button {
    margin: 1px;
    background-color: rgb(30, 29, 139);
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    border: none;
}

button:hover {
    background-color: rgb(68, 86, 161);
}

h1 {
    width: 50%;
    float: right;
}

h5 {
    font-size: -webkit-xxx-large;
    width: 100%;
    float: right;
    background-color: hsl(33deg 100% 88% / 80%);
    text-align: center;
}

footer article{
    background-color: rgb(166, 177, 200);
    place-self: center;
    padding: 10px;
    border-radius: .7em;
}

article a{
    text-decoration: none;
    color: black;
}

footer {
    justify-content:center;
}





.home {
    margin-bottom: 15px;
    background-image: url(../images/home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 570px;
    position: relative;
}

.home > .title {
    background-color: rgba(84, 177, 235, 0.8);
    text-align: center;
    width: 100%;
    line-height: 5rem;
    margin-bottom: 2rem;
    position: absolute;
    top: 1rem;
    color: #ffffff;
}


.images {
    display: grid;
    justify-content: center;
}


h3 {
    color: rgb(50, 44, 44);
}

.title {
    display: contents;
}


.cta {
    width: 50%;
    height: auto;
    border: 2px solid black;
    padding: 8px;
    margin: 10px;
    text-align: center;
    place-self: center;
    border-radius: 10px;
}

a{
    color: rgb(18, 19, 94);
}
  
h4 {
    font-size: -webkit-xxx-large;
    width: 100%;
    float: right;
    background-color: rgb(76 173 146 / 80%);
    text-align: center;
    top: 0rem;
    position: relative;
    color: var(--backgroundColor);
}
