@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Croissant+One&display=swap');

:root {
    --firstColor: #3a86ff;
    --secondColor: #14213d;
    --thirdColor: #9a031e;
    --fourthColor: #ffffff;

    --primaryFont: 'Black Ops One', cursive;
    --secondaryFont: 'Croissant One', cursive;

    --backgroundColor: #fb6f92;
}

/* .meant img {
    margin: 0 0.25rem 0 1rem;
	width: 10rem;
	height: auto;
} */

header {
    margin: 1rem auto;
	display: flex;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    justify-content: center;
}

nav {
    text-align: right;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    flex: 1 1 100%;
}

.menu a {
    display:flex;
	color: navy;
	padding: 50px;
}

header nav a:hover {
    color:var(--firstColor);
    font-weight: 700;
    text-decoration: underline;
}

header nav a {
    color:var(--secondColor);
    text-decoration: none;
    padding: 10px 5px;
}

.hero {
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 15px;
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* align-items: center; */
    height: 570px;
    position: relative;
}

.hero > .title {
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
    line-height: 5rem;
    /* margin-top: 4rem; */
    margin-bottom: 2rem;
    position: absolute;
    top: 1rem;
}

.hero > article {
    background-color: rgb(25 89 169 / 60%);
    width: 80%;
    padding: 2rem 1rem;
    margin-bottom: 6rem;
    position: relative;
    height: 270px;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.hero > article > p {
    width: 50%;
    float: left;
}
.hero > article > img {
    float: right;
    width: 50%;
}

.section, h2{
    text-align: center;
}

.h2 {
    display: flex;
    font-size: 1.5em;
    margin-block-start: 2em;
    margin-block-end: 0.83em;
    justify-content: center;
}

figure {
    text-align: center;
}



body {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    color: var(--backgroundColor);
    font-family: var(--primaryFont);
}

main img {
    width: 30rem;
    margin-bottom: 10px;
}

main p {
    color: var(--secondColor);
}



.hero > article > p {
    color: var(--fourthColor);
}


.container{
    display: flex;
    flex-direction: column;
    
}

footer {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    text-decoration: none;
}