* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(17, 157, 164);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

header nav a:hover {
    color: rgb(255, 255, 255);
}

h1 {
    color: steelblue;
    margin: 1rem;
    border-bottom: 1px solid steelblue;
    text-align: center;

}


main img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(10, 96, 166);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 0 0;
}

p {
    padding: 0;
    margin: 1rem;
}

/* main {
    max-width: 840px;
} */

aside {
    width: 12.5rem;
    margin: 1rem;
    border: 1px; color: rgb(0, 0, 0); /* 1 */
    padding: 1rem;
    background-color: #06bbc5;
    color:rgb(0, 0, 0);
    position: relative;

    grid-column: 1;
    grid-row: 1;
}

aside h2{
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

aside img {
    width: 160px;
    height: auto;
}

footer {
    color: blue;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    border-top: 1px solid steelblue;
}

/* Class Selectors */
 
.box {
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    color: rgb(0, 0, 0);
}


header, .grid, footer{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}

main {
    grid-column: 2/3;
    margin: 1rem;
}