nav {
    background-color: rgb(75, 151, 151);
    padding: 10px;
}

nav a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue
}

img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(10, 96, 166);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}