* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(6, 187, 197);
    padding: 10px;
}

nav a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(10, 96, 166);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 12.5rem;
    margin: 1rem;
    border: 1px; color: rgb(0, 0, 0); /* 1 */
    padding: 1rem;
    background-color: rgb(6, 187, 197);
    color:rgb(0, 0, 0);
    position: relative;
}

aside h2{
    text-align: center;
    position: absolute;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px; color: blue;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 10px solid rgba(rgb(77, 29, 155), green, blue, alpha);
    padding: 1rem;
    background-color: aqua;

}