.callout {
	width: 400px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 15px;
	background-color: rgb(17, 72, 154);
	color: #ffffff;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 1px solid #000;
	padding: 3px;
	background-color: #bbbbbb;
	width: 100px;
	height: auto;
	
}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #ffffff;
	padding-top: 1px;
	text-align: right;
	font-size: smaller;
}